<div class="container">
  <div class="row">
    <div class="col-md-6 isotope-item websites">
      <div class="image-gallery-item">
        <span class="thumb-info">
          <span class="thumb-info-wrapper">
            <img src="{{model.images.firstObject.path}}" class="img-responsive" alt="fish image">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">{{model.species}}</span>
              {{#if model.showLengthAndWeight}}
                <span class="thumb-info-type">{{model.weight}} {{model.weightUnits}},
                  {{model.length}} {{model.lengthUnits}}</span>
              {{/if}}
            </span>
          </span>
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <!-- <div class="pull-right mr-lg mb-sm" style="width: 280px;">
        <div id="googlemapsInsideText" class="google-map small mt-none mb-none" style="height: 220px;">
          {{#g-map
            lat=model.location.position.latitude
            lng=model.location.position.longitude
            zoom=12 as |context|}}
            {{g-map-marker
              context
              lat=model.location.position.latitude
              lng=model.location.position.longitude
              title=(concat model.species " caught by " model.user.name)}}
          {{/g-map}}
        </div>
      </div> -->
      <p>{{catch-message model}}</p>
      <dl>
        {{#if model.location.formattedAddress}}
          <dt>Address</dt>
          <dd>{{model.location.formattedAddress}}</dd>
        {{/if}}
        {{#if model.location.place}}
          <dt>Address</dt>
          <dd>{{model.location.formattedAddress}}</dd>
        {{/if}}
        {{#if model.bait}}
          <dt>Bait</dt>
          <dd>{{model.bait}}</dd>
        {{/if}}
        {{#if model.tackle}}
          <dt>Tackle</dt>
          <dd>{{model.tackle}}</dd>
        {{/if}}
        {{#if model.conditions}}
          <dt>Conditions</dt>
          <dd>{{model.conditions}}</dd>
        {{/if}}
        {{#if model.notes}}
          <dt>Notes</dt>
          <dd>{{model.notes}}</dd>
        {{/if}}
      </dl>

    </div>
  </div>

</div>
