<div class="row">
  <div class="col-md-6 panel panel-default panel-body">
    <h4>Catch Details</h4>
    <ul>
      <li>
        <strong>Water body</strong>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" value="river" type="submit" {{action 'selectWaterBody' 'river'}} autofocus="true">River</button>
          <button type="button" class="btn btn-default" value="stillwater" type="submit" {{action 'selectWaterBody' 'stillwater'}}>Stillwater</button>
          <button type="button" class="btn btn-default" value="sea"  type="submit" {{action 'selectWaterBody' 'sea'}}>Sea</button>
        </div>
      </li>
      <li>
        <strong>Fish species</strong>
        <select onchange={{action (mut specie) value="target.value"}}>
          {{#each speciesOptions as |fishChoice|}}
            <option value={{fishChoice}}>{{fishChoice}}</option>
          {{/each}}
        </select>
        <ul>
          <li>
            <strong>Length units</strong>
            <select onchange={{action (mut lengthUnit) value="target.value"}}>
              {{#each lengthUnits as |lengthUnitChoice|}}
                <option value={{lengthUnitChoice}}>{{lengthUnitChoice}}</option>
              {{/each}}
            </select>
            {{#if isMetricLength}}
              {{input value=lengthMajor}} cm
            {{else}}
              {{input value=lengthMajor}} feet {{input value=lengthMinor}} inches
            {{/if}}
          </li>
          <li><strong>Weight units</strong>
            <select onchange={{action (mut weightUnit) value="target.value"}}>
              {{#each weightUnits as |weightUnitChoice|}}
                <option value={{weightUnitChoice}}>{{weightUnitChoice}}</option>
              {{/each}}
            </select>
            {{#if isMetricWeight}}
              {{input value=weightMajor}} grams
            {{else}}
              {{input value=weightMajor}} lbs {{input value=weightMinor}} oz
            {{/if}}
          </li>
        </ul>
      </li>
      <li>
        <strong>Location</strong>
        <ul>
          <li>{{entry.location.country}}, {{entry.location.waterBody}}, {{entry.location.name}}
            <ul>
              <li>
                latitude: {{entry.location.geoposition.lat}}, longitude: {{entry.location.geoposition.long}}
              </li>
              <li>
                {{g-map lat=37.7833 lng=-122.4167 zoom=12}}
              </li>
            </ul>
          </li>
        </ul>
        <li>
          <strong>Conditions</strong>
          <select onchange={{action (mut conditions) value="target.value"}}>
            {{#each conditionsOptions as |conditionsLabel|}}
              <option value={{conditionsLabel}}>{{conditionsLabel}}</option>
            {{/each}}
          </select>
        </li>
        <li><strong>Notes</strong>
          {{textarea value=notes cols="80" rows="5" placeholder="catch notes" wrap="hard"}}
        </li>
        <li><strong>Tackle</strong>
          {{textarea value=tackle cols="80" rows="5" placeholder="tackle notes" wrap="hard"}}
        </li>
        <li>
          <button type="button" class="btn btn-primary" value="add" type="submit" {{action 'addEntry' }}>Add Catch</button>
        </li>
      </li>
    </ul>
  </div>
</div>
