<div class="row">
  <div class="col-md-6 panel panel-default panel-body">
    <h4>Catch Details</h4>
    <ul>
      <li>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" value="river" type="submit" {{action 'selectWaterBody' 'river'}} autofocus="true">River</button>
          <button type="button" class="btn btn-default" value="stillwater" type="submit" {{action 'selectWaterBody' 'stillwater'}}>Stillwater</button>
          <button type="button" class="btn btn-default" value="sea"  type="submit" {{action 'selectWaterBody' 'sea'}}>Sea</button>
        </div>
      </li>
      <li>
        <select onchange={{action (mut specie) value="target.value"}}>
          {{#each speciesOptions as |fishChoice|}}
            <option value={{fishChoice}}>{{fishChoice}}</option>
          {{/each}}
        </select>
        <ul>
          <li>
            length: {{entry.length}} {{entry.lengthunit}}, weight: {{entry.weight}} {{entry.weightunit}}
          </li>
        </ul>
      </li>
      <li>
        <strong>Location</strong>
        <ul>
          <li>{{entry.location.country}}, {{entry.location.waterBody}}, {{entry.location.name}}
            <ul>
              <li>
                latitude: {{entry.location.geoposition.lat}}, longitude: {{entry.location.geoposition.long}}
              </li>
            </ul>
          </li>
        </ul>
        <li><strong>Conditions: </strong>{{entry.conditions}}</li>
        <li><strong>Tackle: </strong>{{entry.tackle}}</li>
        <li>
          <button type="button" class="btn btn-primary" value="add" type="submit" {{action 'addEntry' }}>Add Catch</button>
        </li>
      </li>
    </ul>
  </div>
</div>
