<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <section class="panel">
        <header class="panel-heading">
          <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
          </div>
        </header>
        <div class="panel-body">
          <form class="form-horizontal form-bordered" action="#">
            <div class="form-group">
              <label for="tags-input" class="col-md-3 control-label">Catch Date</label>
              <div class="col-md-6">
                {{pick-a-date date=(readonly newEntry.caught) on-selected=(action (mut newEntry.caught)) placeholder="Pick a date" options=(readonly extraPickadateOptions)}}
              </div>
            </div>
          </form>
        </div>
      </section>

      <section class="panel">
        <header class="panel-heading">
          <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
          </div>

          <h2 class="panel-title">Location</h2>
        </header>
        <div class="panel-body">
          <form class="form-horizontal form-bordered" action="#">
            <div class="form-group">
              {{radio-button-group
                options=waterOptions
                onChange=(action 'waterSelected')
                title='Water Body'
              }}
            </div>
            <div class="form-group">
              <label for="tags-input" class="col-md-3 control-label">Address</label>
              <div class="col-md-6">
                {{map-with-place-autocomplete lat=newEntry.lat lng=newEntry.lng zoom=12}}
              </div>
            </div>
            <div class="form-group">
              <label for="tags-input" class="col-md-3 control-label">Tags</label>
              <div class="col-md-6">
                {{#tag-search-input
                  placeholder='Find an existing place tag by typing #'
                  modifierConfig=placeTagsConfig
                  inputValue=newEntry.location.names
                }}
                <div class="help-title">
                  Search Existing Places Tags
                </div>
                {{/tag-search-input}}
              </div>
            </div>
          </form>
        </div>
      </section>

      <section class="panel">
        <header class="panel-heading">
          <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
          </div>

          <h2 class="panel-title">Fish</h2>
        </header>
        <div class="panel-body">
          <form class="form-horizontal form-bordered" action="#">
            <div class="form-group">
              {{dropdown-selection
                options=speciesOptions
                title='Fish'
                onChange=(action 'fishTypeSelected')
              }}
            </div>
            <div class="form-group">
              {{radio-button-group
                options=unitLabels
                onChange=(action 'weightUnitSelected')
                title='Weight'
              }}
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group input-group-icon">
                      {{input classNames='form-control' value=weightMajor placeholder=newEntry.weightUnits.0.text}}
                      <span class="input-group-addon ">{{newEntry.weightUnits.0.symbol}}</span>
                    </div>
                  </div>
                  <div class="visible-xs mb-md"></div>
                  <div class="col-sm-3">
                    <div class="input-group input-group-icon">
                      {{input classNames='form-control' value=weightMinor placeholder=newEntry.weightUnits.1.text}}
                      <span class="input-group-addon ">{{newEntry.weightUnits.1.symbol}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              {{radio-button-group
                options=unitLabels
                onChange=(action 'lengthUnitSelected')
                title='Length'
              }}
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group input-group-icon">
                      {{input classNames='form-control' value=lengthMajor placeholder=newEntry.lengthUnits.0.text}}
                      <span class="input-group-addon ">{{newEntry.lengthUnits.0.symbol}}</span>
                    </div>
                  </div>
                  <div class="visible-xs mb-md"></div>
                  <div class="col-sm-3">
                    <div class="input-group input-group-icon">
                      {{input classNames='form-control' value=lengthMinor placeholder=newEntry.lengthUnits.1.text}}
                      <span class="input-group-addon ">{{newEntry.lengthUnits.1.symbol}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>

      <section class="panel">
        <header class="panel-heading">
          <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
          </div>

          <h2 class="panel-title">Notes</h2>
        </header>
        <div class="panel-body">
          <form class="form-horizontal form-bordered" action="#">
            <div class="form-group">
              {{dropdown-selection
                options=conditionsOptions
                title='Weather'
                onChange=(action 'weatherTypeSelected')
              }}
            </div>
            <div class="form-group">
              <label for="tags-input" class="col-md-3 control-label">Tackle</label>
              <div class="col-md-6">
                {{textarea
                  class="form-control"
                  value=newEntry.tackle
                  rows=3
                  maxlength=140
                }}
              </div>
            </div>
            <div class="form-group">
              <label for="tags-input" class="col-md-3 control-label">Bait</label>
              <div class="col-md-6">
                {{textarea
                  class="form-control"
                  value=newEntry.bait
                  rows=3
                  maxlength=140
                }}
              </div>
            </div>
          </form>
        </div>
      </section>


      <section class="panel">
        <div class="panel-body">
          <form class="form-horizontal form-bordered" action="#">
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-6">
                <a href="#" class="btn btn-primary" data-toggle="confirmation" {{action 'addEntry' }}>Add Entry</a>
              </div>
            </div>

          </form>


          <!--



            <div class="form-group">
              <label class="col-md-3 control-label" for="inputDefault">Address</label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="inputAddress">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="inputSuccess">Conditions</label>
              <div class="col-md-6">
                <select class="form-control mb-md onchange={{action (mut conditions) value="target.value"}}">
                  {{#each conditionsOptions as |conditionsLabel|}}
                    <option value={{conditionsLabel}}>{{conditionsLabel}}</option>
                  {{/each}}
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="textareaDefault">Tackle</label>
              <div class="col-md-6">
                <textarea class="form-control" rows="3" data-plugin-maxlength maxlength="250"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="textareaDefault">Notes</label>
              <div class="col-md-6">
                <textarea class="form-control" rows="3" data-plugin-maxlength maxlength="250"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="textareaDefault">Upload Image</label>
              <div class="col-md-6">
                {{#pl-uploader extensions="jpeg jpg png" for="browse-photos" for-dropzone="app" onfileadd="uploadPhoto" as |queue dropzone|}}
                  {{photo-stream photos=model queue=queue dropzone=dropzone}}
                {{/pl-uploader}}
              </div>
            </div>
          -->


        </div>
      </section>
    </div>
  </div>
</div>
