{{#each model as |entry|}}
<div class="row">
  <div class="col-md-6 panel panel-default panel-body">
    <h4>{{entry.owner}}'s catch details for {{entry.caught}}</h4>
    <h5>(created {{entry.created}})</h5>
    <ul>
      <li><strong>Species: </strong>{{entry.species}}
        <ul>
          <li>
            length: {{entry.length}} {{entry.lengthunit}}, weight: {{entry.weight}} {{entry.weightunit}}
          </li>
        </ul>
      </li>
      <li>
        <strong>Location</strong>
        <ul>
          <li>{{entry.location.country}}, {{entry.location.waterBody}}, {{entry.location.name}}
            <ul>
              <li>
                latitude: {{entry.location.geoposition.lat}}, longitude: {{entry.location.geoposition.long}}
              </li>
            </ul>
          </li>
        </ul>
        <li><strong>Conditions: </strong>{{entry.conditions}}</li>
        <li><strong>Tackle: </strong>{{entry.tackle}}</li>
        <li><strong>Notes: </strong>{{entry.notes}}</li>
      </li>
    </ul>
  </div>
</div>
{{/each}}
{{outlet}}
