<!-- app/templates/application.hbs -->
<div class="container">
  <div class="page-header">
    <h1>Journal Entry for : {{entry.date}}</h1>
  </div>
  <div class="row">
    <div class="container col-md-6">
      <p>Location: {{entry.location.name}}</p>
      <p>GPS latitude: {{entry.location.lat}}</p>
      <p>GPS longitude: {{entry.location.long}}</p>
      <p>Postcode: {{entry.location.postcode}}</p>
      <ul class="list-group">
        {{#each fish in entry.fishes}}
        <li class="list-group-item">Time: <span class="pull-right">{{fish.time}}</span></li>
        <li class="list-group-item">Species: <span class="pull-right">{{fish.species}}</span></li>
        <li class="list-group-item">Length: <span class="pull-right">{{fish.length}}</span></li>
        <li class="list-group-item">Weight: <span class="pull-right">{{fish.weight}}</span></li>
        <li class="list-group-item">Tackle: <span class="pull-right">{{fish.tackle}}</span></li>
        <li class="list-group-item">Conditions: <span class="pull-right">{{fish.conditions}}</span></li>
        {{/each}} </ul>
      </div>
    </div>
  </div>
