<!-- app/templates/application.hbs -->
<header>
  <div class="container-fluid">
    <h1 class="col-md-12 fyb-heading text-center">FYB</h1>
  </div>
</header>

<nav class="navbar navbar-default">
  <ul class="nav nav-pills">
    {{#if toriiSession.isAuthenticated}}
      <li role="presentation">
        <span class="icon-bar">Logged in as <b>{{toriiSession.currentUser.id}}</b></span>
      </li>
    {{/if}}
    <li role="presentation" class="active">{{link-to 'Entries' secure.owner.entries}}</li>
    <li role="presentation">{{link-to 'Add a catch' 'secure.owner.new'}}</li>
    <li role="presentation">{{link-to 'Browse' search}}</li>
    {{#if toriiSession.isAuthenticated}}
      <li role="presentation">
        <a class="btn btn-default btn-lg pull-right" type="submit" {{action 'logout'}}>
          <b>Logout</b>
        </a>
      </li>
    {{else}}
      <li role="presentation">
        <span class="icon-bar">Not logged in.</span>
      </li>
    {{/if}}
  </ul>
</nav>

<div class="row">
  <div class="col-md-6">
    <img src="/images/fish-on-line-left.svg" class="fish-left img-responsive pull-right hidden-xs" alt="Responsive image">
  </div>
  <div class="col-md-6">
    <img src="/images/fish-on-line-right.svg" class="fish-right img-responsive pull-left hidden-xs" alt="Responsive image">
  </div>
</div>


{{#if toriiSession.isWorking}}
  One sec while we get you signed in...
{{else}}
  {{error}}
  {{#unless toriiSession.isAuthenticated}}
    <div class="row">
      <section class="login-existing-user">
        <div class="col-md-12 text-center">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2>Login with...</h2>
              <div class="clearfix"></div>
              {{#each model.authProviders as |authProvider|}}
                <a class="btn btn-default btn-lg" type="submit"
                 {{action 'login' authProvider}}> <!-- note the action should
                    be inside the html element-->
                 {{authProvider}}</a>
              {{/each}}
            </div>
          </div>
        </div>
      </section>
    </div>
  {{/unless}}
{{/if}}

<!-- Anything placed in the application template will be application-wide -->
{{outlet}}

<footer>
  <div class="panel panel-default">
    <div class="panel-body">
      &copy;fyb 2016.
    </div>
  </div>
</footer>
